//IMPORTAR CARD//

.img-card {
  position: relative;
  overflow: hidden;

  &:hover {
    img {
      filter: brightness(60%);
      transition: 0.5s;
      transform: scale(0.96);
      transition: transform 0.5s ease-in-out;
    }
  }
}
