//IMPORTAR NAVBAR//

.navbar {
  background-image: linear-gradient(to top, black, $color_grey_dark);
  .nav-link {
    margin: 0 20px;
    font-weight: 100px;
    &.active {
      color: $color_red;
      font-weight: bold;
    }
    &:hover {
      color: $color_grey_light;
      font-weight: 20px;
    }
  }
  .logo {
    max-height: 50px;
  }
}
