#faq {
  text-align: center;
  margin-top: 150px;
  .card {
    margin-top: 30px;
    background-color: $color_red_dark;
    padding-top: 10px;
    animation: from-bottom 1s ease;
  }
  h3 {
    font-size: 18px;
    text-align: start;
    margin-left: 20px;
  }
  p {
    background-image: linear-gradient(
      to top,
      $color_grey_light,
      $color_grey_dark
    );
    padding: 30px;
    text-align: start;
    font-size: 16px;
    border-radius: 10px;
    animation: from-bottom 1s ease;
  }
  .btn {
    margin-top: 20px;
    animation: fade-in 2s ease;
  }
}
